.back-button {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.img img {
    width: 150px;
    height: auto;
}