<ion-header>
  <ion-toolbar color="primario">
    <ion-title>Crear Pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="pagos" (ngSubmit)="guardarDatos()">
    <ion-grid>
      <ion-row>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="secundario">Compra</ion-label>
            <ion-select formControlName="comp_id" (ionChange)="onCompraChange($event)">
              <ion-select-option *ngFor="let compras of compras" [value]="compras.comp_id">
                {{compras.medicamentoNombre}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.comp_id">
            <ion-note color="danger" *ngIf="getError('comp_id')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="secundario">Monto del Pago</ion-label>
            <ion-input [value]="selectedCompra?.comp_total" formControlName="pag_monto" readonly></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.pag_monto">
            <ion-note color="danger" *ngIf="getError('pag_monto')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>


        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="secundario">¿Solicitar factura?</ion-label>
            <ion-select formControlName="pag_factura_solicitada">
              <ion-select-option [value]="1">Sí</ion-select-option>
              <ion-select-option [value]="0">No</ion-select-option>
            </ion-select>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.pag_factura_solicitada">
            <ion-note color="danger" *ngIf="getError('pag_factura_solicitada')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-col size="12">
          <p class="ion-text-center">
            <ion-button type="submit" color="secundario" [disabled]="!pagos.valid">
              <ion-icon name="save-sharp" slot="start"></ion-icon>
              Guardar</ion-button>
          </p>
        </ion-col>

      </ion-row>
    </ion-grid>
  </form>

</ion-content>