<app-toolbar nombre="Tipo Estado" color="primario"></app-toolbar>

<ion-content class="bg-light">
  <ion-list class="list-list">
    <ion-item *ngFor="let tipoestado of tipoEstados" class="list-card" lines="none">

      <ion-avatar slot="start">
        <img src="assets/img/checkbox.png" alt="Foto">
      </ion-avatar>

      <ion-label class="ion-text-wrap list-info">
        <p>Id: {{tipoestado.test_id}}</p>
        <h3>Estado: {{tipoestado.test_nombre}}</h3>
      </ion-label>

      <ion-badge slot="end"></ion-badge>
    </ion-item>
  </ion-list>
</ion-content>