<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nuevo Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="cliente" (ngSubmit)="guardarDatos()">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Nombre del cliente</ion-label>
            <ion-input type="text" formControlName="cli_nombre" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.cli_nombre">
            <ion-note color="danger" *ngIf="getError('cli_nombre')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Apellido paterno</ion-label>
            <ion-input type="text" formControlName="cli_apellido_paterno" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.cli_apellido_paterno">
            <ion-note color="danger" *ngIf="getError('cli_apellido_paterno')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Apellido materno</ion-label>
            <ion-input type="text" formControlName="cli_apellido_materno" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.cli_apellido_materno">
            <ion-note color="danger" *ngIf="getError('cli_apellido_materno')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Fecha de nacimiento</ion-label>
            <ion-datetime presentation="date" formControlName="cli_fecha_nacimiento" class="form-control"></ion-datetime>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.cli_fecha_nacimiento">
            <ion-note color="danger" *ngIf="getError('cli_fecha_nacimiento')[validation.type]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Direccion</ion-label>
            <ion-input type="text" formControlName="cli_direccion" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.cli_direccion">
            <ion-note color="danger" *ngIf="getError('cli_direccion')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Telefono</ion-label>
            <ion-input type="text" formControlName="cli_telefono" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.cli_telefono">
            <ion-note color="danger" *ngIf="getError('cli_telefono')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Correo</ion-label>
            <ion-input type="text" formControlName="cli_correo" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.cli_correo">
            <ion-note color="danger" *ngIf="getError('cli_correo')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">RFC</ion-label>
            <ion-input type="text" formControlName="cli_rfc" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.cli_rfc">
            <ion-note color="danger" *ngIf="getError('cli_rfc')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>


        <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating" color="primary">Ciudad</ion-label>
                        <ion-select formControlName="cli_fkciu_id" class="form-control">
                            <ion-select-option *ngFor="let ciudad of ciudad" [value]="ciudad.ciu_id">
                                {{ciudad.ciu_nombre}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <div id="note" *ngFor="let validation of mensajes_validacion.cli_fkciu_id">
                        <ion-note color="danger" *ngIf="getError('cli_fkciu_id')[(validation.type)]">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </ion-note>
                    </div>
                </ion-col>


        <ion-col size="12">
          <p class="ion-text-center">
            <ion-button type="submit" [disabled]="!cliente.valid">Guardar</ion-button>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
