<ion-header>
  <ion-toolbar color="primario">
    <ion-title>Detalles de la compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="compra as compra">
    <div class="center">
      <img src="assets/img/uwu.jpg" width="500px" alt="Foto">
    </div>
    <ion-card-header class="center">
      <ion-card-title>
        <h3>Detalles de compra:</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-card-title>
      </ion-card-title>

      <ion-list>
        <ion-item *ngFor="let detalles of compra.compraDetalle">
          <ion-label>
            <h2>Compra de: {{detalles.producto}}</h2>
            <p>Cantidad: {{detalles.cantidad}}</p>
            <p>Precio unitario: ${{detalles.precio}}</p>
            <p>Subtotal: ${{detalles.subtotal}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Compra realizada por:</h2>
            <p>{{compra.clienteNombre}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Estado de la compra:</h2>
            <p>{{compra.estadoCompra}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card-content>

    <div class="back-button">
      <ion-button (click)="goBack()" color="secundario">
        <ion-icon name="arrow-back-sharp" slot="start"></ion-icon>
        Volver
      </ion-button>
    </div>

  </ion-card>
</ion-content>