<ion-header>
  <ion-toolbar color="primario">
    <ion-title>Detalles de la categoría del medicamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-light">

  <ion-card *ngIf="categoriamedicamento as catmed" class="detail-card">
    <div class="img">
      <img src="assets/img/detmedcomp.png" alt="Foto">
    </div>

    <ion-card-header class="center">
      <ion-card-title>
        <h3>Categoría del {{catmed.medicamentoNombre}}</h3>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list class="info-list">
        <ion-item lines="none">
          <ion-label>
            <p>Nombre de la categoría</p>
            <h2>{{catmed.catmed_nombre}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list class="info-list">
        <ion-item lines="none">
          <ion-label>
            <p>Descripción de la categoría</p>
            <h2>{{catmed.catmed_descripcion}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card-content>

    <div class="back-button">
      <ion-button (click)="goBack()" color="primario-one" class="return-btn">
        <ion-icon name="arrow-back-circle-sharp" slot="start"></ion-icon>
        Volver
      </ion-button>
    </div>

  </ion-card>

</ion-content>
