<ion-header>
  <ion-toolbar color="primario">
    <ion-title>Detalle de la ciudad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="ciudad as ciudad">
    <div class="img">
      <img src="assets/img/ciudaddet.png" alt="Foto">
    </div>
    <ion-card-header class="center">
      <ion-card-title>
        <h3> {{ciudad.ciu_nombre}}</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <p>Municipio al que pertenece la ciudad</p>
            <h2>{{ciudad.municipioNombre}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <div class="back-button">
      <ion-button (click)="goBack()" color="primario-one">
        <ion-icon name="arrow-back-circle-sharp" slot="start"></ion-icon>
        Volver
      </ion-button>
    </div>

  </ion-card>

</ion-content>