<app-toolbar nombre="Facturas" color="primario"></app-toolbar>

<ion-content>
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Buscar..."></ion-searchbar>

  <ion-list>
    <ion-item button *ngFor="let factura of facturas">
      <ion-avatar slot="start">
        <img src="assets/img/factura.png" alt="Foto">
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <h3>Factura de {{factura.medicamentosFacturados}}</h3>

      </ion-label>
      <ion-badge slot="end"></ion-badge>
      <ion-button [routerLink]="['/factura-detalle', factura.fac_id]">
        <ion-icon name="document-text-sharp"></ion-icon>
      </ion-button>

      <ion-button (click)="alertEliminar(factura.fac_id, factura.medicamentosFacturados)" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-button>

    </ion-item>
    <app-paginacion [total]="total" (click)="pagina($event)"></app-paginacion>

  </ion-list>
</ion-content>
