<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Factura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
    <ion-item button *ngFor="let factura of facturas">
    <ion-avatar slot="start">
        <img src="assets/img/crush.png" alt="Foto">
    </ion-avatar>

    <ion-label class="ion-text-wrap">
        <h3></h3>
        
    </ion-label>

    <ion-badge slot="end">{{factura.pag_id}}, {{factura.fac_folio}}, {{factura.fac_fecha_emision}}, {{factura.fac_subtotal}}, {{factura.fac_impuestos}}, {{factura.fac_total}}, {{factura.fac_fkestado_id}}</ion-badge>
    </ion-item>
</ion-list>
</ion-content>
