<ion-header>
  <ion-toolbar color="primario">
    <ion-title>Nuevos Pedidos/Envíos de Medicamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-light">
  <form [formGroup]="entidadmedicamento" (ngSubmit)="guardarDatos()">
    <ion-grid class="form-card">
      <ion-row>

        <ion-col size="12">
          <ion-item class="custom-item" lines="none">
            <ion-label position="floating" color="primario-one">Medicamento</ion-label>
            <ion-select formControlName="med_id" class="form-control">
              <ion-select-option *ngFor="let medicamento of medicamento" [value]="medicamento.med_id">
                {{ medicamento.med_nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.med_id">
            <ion-note color="danger" *ngIf="getError('med_id')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item class="custom-item" lines="none">
            <ion-label position="floating" color="primario-one">Entidad Comercial</ion-label>
            <ion-select formControlName="ent_id" class="form-control">
              <ion-select-option *ngFor="let entidadcomercial of entidadcomercial" [value]="entidadcomercial.ent_id">
                {{ entidadcomercial.ent_nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.ent_id">
            <ion-note color="danger" *ngIf="getError('ent_id')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item class="custom-item" lines="none">
            <ion-label position="floating" color="primario-one">Precio</ion-label>
            <ion-input type="number" step="0.01" formControlName="entmed_precio" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.entmed_precio">
            <ion-note color="danger" *ngIf="getError('entmed_precio')[validation.type]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item class="custom-item" lines="none">
            <ion-label position="floating" color="primario-one">Tiempo de entrega</ion-label>
            <ion-input type="text" color="primario-one" formControlName="entmed_tiempo_entrega"
              class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.entmed_tiempo_entrega">
            <ion-note color="danger" *ngIf="getError('entmed_tiempo_entrega')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item class="custom-item" lines="none">
            <ion-label position="floating" color="primario-one">Estado</ion-label>
            <ion-select formControlName="entmed_fkestado_id" class="form-control">
              <ion-select-option *ngFor="let estado of estados" [value]="estado.entmed_fkestado_id">
                {{ estado.entidadmed }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.entmed_fkestado_id">
            <ion-note color="danger" *ngIf="getError('entmed_fkestado_id')[validation.type]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-col size="12">
          <p class="ion-text-center">
            <ion-button type="submit" color="primario-one" [disabled]="!entidadmedicamento.valid" class="save-button">
              <ion-icon name="save-sharp" slot="start"></ion-icon>
              Guardar
            </ion-button>
          </p>
        </ion-col>

      </ion-row>
    </ion-grid>
  </form>
</ion-content>