<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Medicamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
    <ion-item button *ngFor="let medicamento of medicamentos">
    <ion-avatar slot="start">
        <img src="assets/img/crush.png" alt="Foto">
    </ion-avatar>

    <ion-label class="ion-text-wrap">
        <h3>{{medicamento.med_nombre}}</h3>
        
    </ion-label>

    <ion-badge slot="end"></ion-badge>
    <ion-button [routerLink]="['/medicamento-detalle', medicamento.med_id]">
      <ion-icon name="person-circle"></ion-icon>
    </ion-button>
    </ion-item>
</ion-list>
</ion-content>
