<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Medicamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
    <ion-item button *ngFor="let medicamento of medicamentos">
    <ion-avatar slot="start">
        <img src="assets/img/crush.png" alt="Foto">
    </ion-avatar>

    <ion-label class="ion-text-wrap">
        <h3></h3>
        
    </ion-label>

    <ion-badge slot="end">{{medicamento.med_nombre}}, {{medicamento.med_descripcion}}, {{medicamento.med_presentacion}}, {{medicamento.med_concentracion}}, {{medicamento.med_fecha_caducidad}}, {{medicamento.med_precio_unitario}}, {{medicamento.med_lote}}, {{medicamento.med_stock}}</ion-badge>
    </ion-item>
</ion-list>
</ion-content>
