<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Compra detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item button *ngFor="let compradetalle of compradetalles">
    <ion-avatar slot="start">
        <img src="assets/img/crush.png" alt="Foto">
    </ion-avatar>

    <ion-label class="ion-text-wrap">
        <h3></h3>
        
    </ion-label>
    <ion-badge slot="end">{{compradetalle.medicamentoNombre}}, {{compradetalle.det_cantidad}}, {{compradetalle.det_precio_unitario}}, {{compradetalle.det_subtotal}}</ion-badge>
</ion-item>
</ion-content>
