<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pagos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item button *ngFor="let pago of pagos">
    <ion-avatar slot="start">
        <img src="assets/img/leshu.jpg" alt="Foto">
    </ion-avatar>

    <ion-label class="ion-text-wrap">
        <h3>Pago {{pago.pag_id}}</h3>
        
    </ion-label>
    <ion-badge slot="end"></ion-badge>
<ion-button [routerLink]="['/pago-detalle', pago.pag_id]">
  <ion-icon name="person-circle"></ion-icon>
</ion-button>
    </ion-item>
</ion-content>
