<ion-header>
  <ion-toolbar color="primario">
    <ion-title>Detalles del municipio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="municipio as municipio">
    <div class="img">
      <img src="assets/img/mundet.png" alt="Foto">
    </div>
    <ion-card-header class="center">
      <ion-card-title>
        <h3>{{municipio.mun_nombre}}</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <p>Estado donde se encuentra</p>
            <h2> {{municipio.estadoNombre}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>

      <div class="back-button">
        <ion-button (click)="goBack()" color="secundario">
          <ion-icon name="arrow-back-sharp" slot="start"></ion-icon>
          Volver
        </ion-button>
      </div>

    </ion-card-content>