<ion-header>
  <ion-toolbar color="primario">
    <ion-title class="ion-text-center">Nuevo componente de medicamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-light">
  <form [formGroup]="medicamentocomponentes" (ngSubmit)="guardarDatos()">
    <ion-grid class="form-card">
      <ion-row>

        <ion-col size="12">
          <ion-item class="custom-item" lines="none">
            <ion-label position="floating" color="primario-one">Medicamento</ion-label>
            <ion-select formControlName="med_id" class="form-control">
              <ion-select-option *ngFor="let medicamento of medicamento" [value]="medicamento.med_id">
                {{ medicamento.med_nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.med_id">
            <ion-note color="danger" *ngIf="getError('med_id')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item class="custom-item" lines="none">
            <ion-label position="floating" color="primario-one">Componente</ion-label>
            <ion-select formControlName="comp_id" class="form-control">
              <ion-select-option *ngFor="let componente of componente" [value]="componente.comp_id">
                {{ componente.comp_nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.comp_id">
            <ion-note color="danger" *ngIf="getError('comp_id')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-col size="12">
          <p class="ion-text-center">
            <ion-button type="submit" [disabled]="!medicamentocomponentes.valid" color="primario-one" class="save-button">
              <ion-icon name="save-sharp" slot="start"></ion-icon>
              Guardar
            </ion-button>
          </p>
        </ion-col>

      </ion-row>
    </ion-grid>
  </form>
</ion-content>
