<ion-header>
  <ion-toolbar color="primario">
    <ion-title>Nueva Devolución</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="devolucion" (ngSubmit)="guardarDatos()">
    <ion-grid>
      <ion-row>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="secundario">Compra</ion-label>
            <ion-select formControlName="det_id" (ionChange)="onCompraSeleccionada($event)">
              <ion-select-option *ngFor="let compdet of compradetalle" [value]="compdet.det_id">
                {{compdet.medicamentoNombre}} - {{ compdet.det_cantidad }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.det_id">
            <ion-note color="danger" *ngIf="getError('det_id')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-item>
          <ion-label position="floating" color="secundario">Cantidad a devolver</ion-label>
          <ion-input type="number" formControlName="dev_cantidad" readonly></ion-input>
        </ion-item>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="secundario">Motivo de la devolución</ion-label>
            <ion-input type="text" formControlName="dev_motivo" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.dev_motivo">
            <ion-note color="danger" *ngIf="getError('dev_motivo')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-col size="12">
          <p class="ion-text-center">
            <ion-button type="submit" color="secundario" [disabled]="!devolucion.valid">
              <ion-icon name="save-sharp" slot="start"></ion-icon>
              Guardar</ion-button>
          </p>
        </ion-col>

      </ion-row>
    </ion-grid>
  </form>

</ion-content>