<ion-header>
    <ion-toolbar color="primario">
        <ion-title>Nueva Ciudad</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="ciudades" (ngSubmit)="guardarDatos()">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating" color="secundario">Nombre de la ciudad</ion-label>
                        <ion-input type="text" formControlName="ciu_nombre" class="form-control"></ion-input>
                    </ion-item>
                    <div id="note" *ngFor="let validation of mensajes_validacion.ciu_nombre">
                        <ion-note color="danger" *ngIf="getError('ciu_nombre')[(validation.type)]">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </ion-note>
                    </div>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating" color="secundario">Municipio</ion-label>
                        <ion-select formControlName="ciu_fkmun_id" class="form-control">
                            <ion-select-option *ngFor="let municipio of municipios" [value]="municipio.mun_id">
                                {{municipio.mun_nombre}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <div id="note" *ngFor="let validation of mensajes_validacion.ciu_fkmun_id">
                        <ion-note color="danger" *ngIf="getError('ciu_fkmun_id')[(validation.type)]">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </ion-note>
                    </div>
                </ion-col>
                <ion-col size="12">
                    <p class="ion-text-center">
                        <ion-button type="submit" color="secundario" [disabled]="!ciudades.valid">
                            <ion-icon name="save-sharp" slot="start"></ion-icon>
                            Guardar</ion-button>
                    </p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>