<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Entidad Medicamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
    <ion-item button *ngFor="let entidadmedicamento of entidadmedicamentos">
    <ion-avatar slot="start">
        <img src="assets/img/crush.png" alt="Foto">
    </ion-avatar>

    <ion-label class="ion-text-wrap">
        <h3></h3>
        
    </ion-label>
    <ion-badge slot="end">{{entidadmedicamento.ent_id}}, {{entidadmedicamento.med_id}}, {{entidadmedicamento.entmed_precio}}, {{entidadmedicamento.entmed_tiempo_entrega}}, {{entidadmedicamento.entmed_tiempo_recepcion}}, {{entidadmedicamento.entmed_fkestado_id}}</ion-badge>
    </ion-item>
</ion-list>
</ion-content>
