<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Entidad Medicamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
    <ion-item button *ngFor="let entidadmedicamento of entidadmedicamentos">
    <ion-avatar slot="start">
        <img src="assets/img/crush.png" alt="Foto">
    </ion-avatar>

    <ion-label class="ion-text-wrap">
        <h3>{{entidadmedicamento.medicamentoNombre}}</h3>
        
    </ion-label>
    <ion-badge slot="end"></ion-badge>
    <ion-button [routerLink]="['/entidad-medicamento-detalle', entidadmedicamento.entmed_id]">
      <ion-icon name="person-circle"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
</ion-content>
