<ion-header>
  <ion-toolbar color="primario">
    <ion-title>Nueva compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="compra" (ngSubmit)="guardarDatos()">
    <ion-grid>
      <ion-row>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="secundario">Cliente</ion-label>
            <ion-select formControlName="cli_id" class="form-control">
              <ion-select-option *ngFor="let cliente of cliente" [value]="cliente.cli_id">
                {{ cliente.cli_nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="secundario">Total de la compra</ion-label>
            <ion-input type="number" formControlName="comp_total" class="form-control" [disabled]="true"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label color="secundario">Medicamentos</ion-label>
            <ion-button size="small" color="secundario" (click)="agregarMedicamento()">Agregar Medicamento</ion-button>
          </ion-item>

          <div formArrayName="medicamentos">
            <ion-item *ngFor="let medicamento of medicamentosFA.controls; let i = index" [formGroupName]="i">
              <ion-label position="floating" color="secundario">Medicamento {{ i + 1 }}</ion-label>

              <ion-select formControlName="med_id" class="form-control" (ionChange)="actualizarPrecioUnitario(i)">
                <ion-select-option *ngFor="let medicamento of medicamentos" [value]="medicamento.med_id">
                  {{ medicamento.med_nombre }}
                </ion-select-option>
              </ion-select>

              <p>Cantidad</p>
              <ion-input type="number" formControlName="det_cantidad" placeholder="Cantidad"
                (ionChange)="calcularSubtotal(i)"></ion-input>
              <p>Precio Unitario</p>
              <ion-input type="number" formControlName="det_precio_unitario" placeholder="Precio Unitario" step="0.01"
                [disabled]="true"></ion-input>
              <p>Subtotal</p>
              <ion-input type="number" formControlName="det_subtotal" placeholder="Subtotal"
                [disabled]="true"></ion-input>

              <ion-button fill="clear" color="danger" (click)="eliminarMedicamento(i)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-item>
          </div>
        </ion-col>

        <ion-col size="12">
          <p class="ion-text-center">
            <ion-button type="submit" color="secundario" [disabled]="!compra.valid">
              <ion-icon name="save-sharp" slot="start"></ion-icon>
              Guardar</ion-button>
          </p>
        </ion-col>

      </ion-row>
    </ion-grid>
  </form>
</ion-content>