<ion-header>
  <ion-toolbar color="primario">
    <ion-title>Nueva compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="compra" (ngSubmit)="guardarDatos()">
    <ion-grid>
      <ion-row>

        <ion-item>
          <ion-label position="floating" color="secundario">Cliente</ion-label>
          <ion-select formControlName="cli_id" class="form-control">
            <ion-select-option *ngFor="let cliente of cliente" [value]="cliente.cli_id">
              {{cliente.cli_nombre}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div id="note" *ngFor="let validation of mensajes_validacion.cli_id">
          <ion-note color="danger" *ngIf="getError('cli_id')[(validation.type)]">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </ion-note>
        </div>


        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="secundario">Fecha de compra</ion-label>
            <ion-datetime presentation="date" color="secundario" formControlName="comp_fecha"
              class="form-control"></ion-datetime>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.comp_fecha">
            <ion-note color="danger" *ngIf="getError('comp_fecha')[validation.type]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="secundario">Total de la compra</ion-label>
            <ion-input type="number" step="0.01" formControlName="comp_total" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.comp_total">
            <ion-note color="danger" *ngIf="getError('comp_total')[validation.type]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>

                <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="secundario">Estado de la compra</ion-label>
            <ion-select formControlName="comp_fkestado_id" class="form-control">
              <ion-select-option *ngFor="let estado of estados" [value]="estado.comp_fkestado_id">
                {{estado.compest}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.comp_fkestado_id">
            <ion-note color="danger" *ngIf="getError('comp_fkestado_id')[validation.type]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>


        <ion-col size="12">
          <p class="ion-text-center">
            <ion-button type="submit" color="secundario" [disabled]="!compra.valid">Guardar</ion-button>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>