<app-toolbar nombre="Devolución" color="primario"></app-toolbar>

<ion-content>
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Buscar..."></ion-searchbar>

  <ion-list>
    <ion-item button *ngFor="let devolucion of devoluciones">
      <ion-avatar slot="start">
        <img src="assets/img/devolucion.png" alt="Foto">
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <h3>Devolución de {{devolucion.medicamentoNombre}}</h3>

      </ion-label>
      <ion-badge slot="end"></ion-badge>

      <ion-button [routerLink]="['/devolucion-detalle', devolucion.dev_id]">
        <ion-icon name="newspaper-sharp"></ion-icon>
      </ion-button>

      <ion-button (click)="alertEliminar(devolucion.dev_id, devolucion.medicamentoNombre)" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-button>

    </ion-item>
    <app-paginacion [total]="total" (click)="pagina($event)"></app-paginacion>

  </ion-list>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="new()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>