<app-toolbar nombre="Compras" color="primario"></app-toolbar>

<ion-content class="bg-light">
  <div class="search-container">
    <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Buscar..."></ion-searchbar>
  </div>

  <ion-list class="list-list">
    <ion-item *ngFor="let compra of compras" class="list-card" lines="none">

      <ion-avatar slot="start">
        <img src="assets/img/compra.png" alt="Foto">
      </ion-avatar>

      <ion-label class="ion-text-wrap list-info">
        <h3>Compra de {{compra.medicamentoNombre}}</h3>
      </ion-label>

      <div class="action-buttons" slot="end">

        <ion-button [routerLink]="['/compra-detalle', compra.comp_id]" fill="clear" class="btn-ver">
          <ion-icon slot="icon-only" name="cart-sharp"></ion-icon>
        </ion-button>

        <ion-button (click)="alertEliminar(compra.comp_id, compra.medicamentoNombre)" fill="clear" class="btn-borrar">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>

      </div>

    </ion-item>

    <app-paginacion [total]="total" (click)="pagina($event)"></app-paginacion>
  </ion-list>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="new()" class="fab-gradient">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
