<app-toolbar nombre="Ciudades" color="primario"></app-toolbar>

<ion-content>
    <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Buscar..."></ion-searchbar>

    <ion-list>
        <ion-item button *ngFor="let ciudad of ciudades">
            <ion-avatar slot="start">
                <img src="assets/img/ciudad.png" alt="Foto">
            </ion-avatar>

            <ion-label class="ion-text-wrap">
                <h3>{{ciudad.ciu_nombre}}</h3>

            </ion-label>

            <ion-badge slot="end"></ion-badge>
            <ion-button [routerLink]="['/ciudad-detalle', ciudad.ciu_id]">
                <ion-icon name="globe-sharp"></ion-icon>

            </ion-button>

            <ion-button (click)="editar(ciudad.ciu_id)" color="warning">
                <ion-icon name="pencil"></ion-icon>
            </ion-button>

            <ion-button (click)="alertEliminar(ciudad.ciu_id, ciudad.ciu_nombre)" color="danger">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
        </ion-item>
        <app-paginacion [total]="total" (click)="pagina($event)"></app-paginacion>
    </ion-list>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="new()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>