<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ciudades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
    <ion-item button *ngFor="let ciudad of ciudades">
    <ion-avatar slot="start">
        <img src="assets/img/crush.png" alt="Foto">
    </ion-avatar>

    <ion-label class="ion-text-wrap">
        <h3>{{ciudad.ciu_nombre}}</h3>
        
    </ion-label>

    <ion-badge slot="end"></ion-badge>
    <ion-button [routerLink]="['/ciudad-detalle', ciudad.ciu_id]">
  <ion-icon name="person-circle"></ion-icon>
</ion-button>
    </ion-item>
</ion-list>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="new()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
